body {
  background-color: #F5F5DC; /* 밝은 베이지톤 배경색 */
  font-family: Arial, sans-serif;
}

header {
  text-align: center;
  padding: 20px;
  background-color: #333; /* 헤더 배경색 (예시) */
  color: #FFF; /* 헤더 텍스트 색상 (예시) */
  height: 20vh;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.left-box {
  width: 50vw;
  padding: 20px;
  box-sizing: border-box;
  display: flex; /* left-box를 flex 컨테이너로 설정 */

  /* 이미지와 나머지 요소를 가로로 배치 */
  align-items: center; /* 수직 중앙 정렬 */
}

/* 이미지 스타일 */
img {
  width: 20vw;
  margin-right: 10px; /* 이미지와 나머지 요소 사이의 간격 */
}

/* 나머지 요소들 스타일 */
p {
  font-style: normal;
}

.right-box {
  width: 50vw;
  padding: 20px;
  box-sizing: border-box;
}

form {
  background-color: #FFF; /* 폼 배경색 (예시) */
  padding: 10px;
  border: 1px solid #DDD; /* 폼 테두리 (예시) */
}

/* 추가적인 스타일링은 필요에 따라 적용하세요. */